* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background: #0d1117;
  --nav-bg: #161b22;
  --font: #ffffff;
  --nav-hover: #f78166;
  --border: #514e4e;
  --font-dim: #b7b7b7;
  --family: 'Comfortaa';
  --warning-btn: #870303;
  --green: #41c220;
  --warning: #ffd600;
  --danger: #ff0000;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  width: 100% !important;
  height: 100vh !important;
  background-color: var(--background) !important;
  color: var(--font) !important;
  font-family: var(--family) !important;
}
a {
  text-decoration: none;
  color: var(--font);
}
a:hover {
  color: var(--font) !important;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* =========== Components ============ */
/* Navbar  */
.header {
  /* border-bottom: 1px solid var(--border); */
  background-color: var(--nav-bg);
}
.Logo__container h2 {
  letter-spacing: 5px;
  cursor: pointer;
}
.nav__container ul li {
  letter-spacing: 2px;
  transition: all 0.5s;
  cursor: pointer;
}
.nav__container ul li:hover {
  color: var(--nav-hover) !important;
}
.hamburger-react {
  position: relative;
  bottom: 8px;
}
.activeRoute {
  color: var(--nav-hover) !important;
}
/* Navbar Ends  */

/* Side Menu  */
.main__container {
  background-color: var(--background);
  z-index: 999999999999;
  width: 100%;
  height: calc(100vh - 93px);
  transition: all 0.5s;
  right: 0px !important;
  opacity: 0;
  visibility: hidden;
}
.main__container a {
  font-size: 13px;
  text-decoration: none;
  color: rgb(255 255 255);
  top: 77.39px;
  transition: all 0.5s;
  right: -900px;
  letter-spacing: 1.5px;
}
/* Side Menu Ends  */

/* Footer  */
.footer .styleBar {
  width: 90%;
  background-color: var(--border);
  height: 1px;
}
/* Footer Ends */

/* ===================== */
/* Pages  */
/* ===================== */
/* Jobs  */
.singleBoard {
  width: 280px;
  height: 230px;
  border: 1px solid var(--border);
}
/* Indeed  */
.indeed_board_container .search {
  border: 1px solid var(--border);
  height: 80%;
  transition: all 0.5s;
}
.indeed_board_container .search button {
  background-color: var(--warning-btn);
  color: var(--font);
  border: none;
}
.indeed_board_container .search input {
  width: 95%;
  border: none;
  background: transparent !important;
  outline: none;
  color: var(--font);
}
.post__container {
  border: 1px solid var(--border);
}
.graph__container button {
  background-color: var(--warning-btn);
  color: var(--font);
  border: none;
  letter-spacing: 3px;
  padding: 8px;
  width: 90%;
}
/* Error Classes  */
.green {
  border: 1px solid var(--green) !important;
}
.warning {
  border: 1px solid var(--warning) !important;
}
.danger {
  border: 1px solid var(--danger) !important;
}

/* Login  */
.login__container {
  border: 1px solid var(--border);
  height: 400px;
}
.login__container .options button {
  border: 1px solid var(--border);

  background: none;
  color: var(--font);
  border-radius: 30px;
}

/* Login Ends */
/* Jobs Ends */
